.landing-page {
    color: var(--light-text-color);
    height: 100vh;


    .header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 20px;

        .logo {
            font-size: var(--font-logo-size);
        }

    }

    .hero-section {
        width: 100%;

    }

    .footer {
        width: 100%;
        position: absolute;
        bottom: 0px;
        padding: 20px;
        display: flex;
        justify-content: space-around;
    }

    .navigation {
        a {
            margin: 0 10px 0 10px;
        }
    }
}