.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    .authentification {
        display: flex;
        gap: 8px;
    }
}