<div class="landing-page pager" *transloco="let t">

    <app-header [navigations]="headerNavLinks"></app-header>

    <section class="hero-section">
        <div class="hero-left">
            <div class="content">
                <h1><span class="th-c">Empower</span> Your Future with LearnHub: Where <span class="sn-c">Knowledge
                        Meets Opportunity</span></h1>
                <h4>All the courses you need in one place</h4>
                <br>
                <a class="button">GET STARTED (FREE)</a>
            </div>
        </div>

        <div class="hero-right">
            <img src="assets/images/landing-page/hero.png" alt="computer" width="500px">
        </div>
    </section>


    <section class="about-section">
        <div class="content">
            <span class="sn-c">hello,</span>
            <h2>I am Ahmed Adel</h2>
            <br>
            <p class="p-c">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <br>

            <video width="700" controls>
                <source src="assets/videos/about.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

    </section>

    <section class="course-section">
        <span class="sn-c">TOP-SELLING COURSES</span>
        <h2>Level up Your Personal Skills</h2>
        <br>
        <p class="text p-c">Whether you're looking to switch to another career or to advance in your current role, my
            courses give you
            the knowledge and experience you need to succeed.</p>
        <br>

        <div class="courses">
            <ng-container *ngIf="courses$ | async as courses">
                <app-course-card *ngFor="let course of courses" [data]="course">
                </app-course-card>
            </ng-container>
        </div>

        <a class="button">View all Courses</a>

    </section>

    <app-footer [navigations]="footerNavLinks"></app-footer>


</div>