<div class="landing-page" *transloco="let t">

    <section class="hero-section">
        <div class="left-content">
            <div class="content">
                <p class="primary-color">{{t('app.landing.hero.subheadline') | uppercase}}</p>
                <h1>{{t('app.landing.hero.headline')}}</h1>
                <p>{{t('app.landing.hero.description')}}</p>
                <a class="primary-button">{{t('app.landing.hero.button')}}</a>
            </div>
        </div>
        <div class="right-content">
            <figure>
                <img src="assets/images/landing-page/hero-figure.svg" width="600px">
            </figure>
        </div>
    </section>

    <section class="about-section">
        <div class="content">
            <p class="primary-color">{{t('app.landing.about.subheadline') | uppercase}}</p>
            <h1>{{t('app.landing.about.headline')}}</h1>
            <p>{{t('app.landing.about.description')}}</p>
            <video class="video" width="800px" controls>
                <source src="assets/videos/about.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>
</div>