@import "primeicons/primeicons.css";


@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Variables */
:root {
    --primary-color: #FF971D;
    --secondary-color: #FFC581;
    --headline-color: #ffffff;
    --text-color: rgba(255, 255, 255, 0.8);
    --dark-color: #000000;
}

body {
    background-color: var(--dark-color);
    color: var(--headline-color);
    font-size: medium;

    a {
        cursor: pointer;
    }
}


/* utility classes */